package ${packageName};

//desc:生成基础数据的VO对象
public class ${className}Data implements Cloneable{

    <j:temp j:for="${field:fields.keySet()}">
        /**
        *${comments.get(field)}
        */
    private ${fields.get(field)} ${field};
    </j:temp>

    <j:temp j:for="${field:fields.keySet()}">
    /**
     *${comments.get(field)}
     */
    final public ${fields.get(field)} get${BuilderUtil.getFirstUpper(field)}(){

        return ${field};

    }

    final public void set${BuilderUtil.getFirstUpper(field)}(${fields.get(field)} ${(field)}){

          this.${field} =  ${field};
    }
    </j:temp>

    @Override
    public Object clone() throws CloneNotSupportedException {
        return (${className}Data)super.clone();
    }

}